In [1]:
# Create a practice set of random latitude and longitude combinations.
lats = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
lngs = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
lat_lngs = zip(lats, lngs)

In [13]:
import requests
from config import weather_api_key
from datetime import datetime
import pandas as pd
import time

In [3]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [4]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=ab2c313e19328afc7bb030a55a7548c8&q=Boston

In [5]:
# Make a 'Get' request for the city weather.
city_weather = requests.get(city_url)
city_weather

In [6]:
# Get the text of the 'Get' request.
city_weather.text

'{"coord":{"lon":-71.0598,"lat":42.3584},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"base":"stations","main":{"temp":83.8,"feels_like":86.7,"temp_min":78.28,"temp_max":87.42,"pressure":1015,"humidity":58},"visibility":10000,"wind":{"speed":16.11,"deg":200},"clouds":{"all":75},"dt":1658098249,"sys":{"type":2,"id":2013408,"country":"US","sunrise":1658049737,"sunset":1658103485},"timezone":-14400,"id":4930956,"name":"Boston","cod":200}'

In [7]:
# Create an endpoint URL for a city.

if city_weather.status_code == 200:
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City Weather found.

In [8]:
# Get the JSON text of the 'Get' request.
city_weather.json()

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 83.8,
  'feels_like': 86.7,
  'temp_min': 78.28,
  'temp_max': 87.42,
  'pressure': 1015,
  'humidity': 58},
 'visibility': 10000,
 'wind': {'speed': 16.11, 'deg': 200},
 'clouds': {'all': 75},
 'dt': 1658098249,
 'sys': {'type': 2,
  'id': 2013408,
  'country': 'US',
  'sunrise': 1658049737,
  'sunset': 1658103485},
 'timezone': -14400,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [9]:
# Get the JSON data.
boston_data = city_weather.json()

lat = boston_data["coord"]["lat"]
lng = boston_data["coord"]["lon"]
max_temp = boston_data["main"]["temp_max"]
humidity = boston_data["main"]["humidity"]
clouds = boston_data["clouds"]["all"]
wind = boston_data["wind"]["speed"]
print(lat, lng, max_temp, humidity, clouds, wind)

42.3584 -71.0598 87.42 58 75 16.11

In [10]:
boston_data["dt"]

1658098249

In [11]:
# Import the datetime module from the datetime library.
from datetime import datetime
# Get the date from the JSON file.
date = boston_data["dt"]
# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
datetime.utcfromtimestamp(date)

datetime.datetime(2022, 7, 17, 22, 50, 49)

In [14]:
city_data_to_load = "weather_data/cities.csv"
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Zhuhai,CN,2022-07-17 15:01:15,22.2769,113.5678,88.86,84,40,11.50
1,1,Te Anau,NZ,2022-07-17 15:01:16,-45.4167,167.7167,50.77,90,100,8.97
2,2,Bethel,US,2022-07-17 15:01:16,41.3712,-73.4140,83.19,71,45,1.99
3,3,Seoul,KR,2022-07-17 15:01:17,37.5683,126.9778,76.44,73,16,3.18
4,4,Aktau,KZ,2022-07-17 15:01:17,43.6500,51.2000,84.78,50,0,11.10
5,5,Hermanus,ZA,2022-07-17 15:01:18,-34.4187,19.2345,63.70,71,0,17.83
6,6,Atuona,PF,2022-07-17 15:01:18,-9.8000,-139.0333,77.83,76,23,20.45
7,7,Khatanga,RU,2022-07-17 15:01:18,71.9667,102.5000,59.74,61,100,7.49
8,8,San Juan,AR,2022-07-17 15:00:45,-31.5375,-68.5364,54.05,22,0,11.95
9,9,Bonfim,BR,2022-07-17 15:01:19,3.0833,-59.9500,85.96,64,47,2.98

In [15]:
# Extract relevant fields from the DataFrame for plotting.
lats = city_data_df["Lat"]
max_temps = city_data_df["Max Temp"]
humidity = city_data_df["Humidity"]
cloudiness = city_data_df["Cloudiness"]
wind_speed = city_data_df["Wind Speed"]

In [17]:
# Get today's date in seconds.
today = time.strftime("%x")
today

'07/17/22'