## Deliverable 3. Create a Travel Itinerary Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [33]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
1,10,Kapaa,US,80.19,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,11,Saint Anthony,US,80.53,scattered clouds,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
3,15,Georgetown,MY,85.93,few clouds,5.4112,100.3354,Cititel Penang
4,24,Butaritari,KI,81.14,light rain,3.0707,172.7902,Isles Sunset Lodge

In [58]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
test_df = vacation_df.loc[(vacation_df["Country"] == "US") & (vacation_df["Lat"] >= 30) & (vacation_df["Lat"] <= 35)]
test_df.count()

City_ID                7
City                   7
Country                7
Max Temp               7
Current Description    7
Lat                    7
Lng                    7
Hotel Name             6
dtype: int64

In [59]:
route_cities = test_df.dropna()
center = (route_cities['Lat'].mean(), route_cities['Lng'].mean())
center

(33.217400000000005, -91.12218333333334)

In [76]:
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

vacation_info = [info_box_template.format(**row) for index, row in route_cities.iterrows()]

locations = route_cities[["Lat", "Lng"]]
max_temp = route_cities["Max Temp"]
fig = gmaps.figure(center=center, zoom_level=5)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
route_cities

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
46,202,Wichita Falls,US,86.25,clear sky,33.9137,-98.4934,Quality Inn & Suites Wichita Falls I-44
61,285,Havelock,US,83.01,clear sky,34.8791,-76.9013,Sherwood Motel
73,320,Altus,US,90.91,clear sky,34.6381,-99.3340,"Holiday Inn Express & Suites Altus, an IHG Hotel"
97,399,Big Spring,US,90.23,few clouds,32.2504,-101.4787,Hampton Inn & Suites Big Spring
98,400,Rincon,US,82.83,few clouds,32.2960,-81.2354,Days Inn Rincon
113,439,Hattiesburg,US,85.44,clear sky,31.3271,-89.2903,Quality Inn & Suites

In [64]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = route_cities.loc[97]
vacation_end = route_cities.loc[97]
vacation_stop1 = route_cities.loc[113]
vacation_stop2 = route_cities.loc[98] 
vacation_stop3 = route_cities.loc[61]

In [62]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
end = start
stop1 = vacation_stop1[["Lat", "Lng"]]
stop2 = vacation_stop2[["Lat", "Lng"]]
stop3 = vacation_stop3[["Lat", "Lng"]]

In [82]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

vacation_info = [info_box_template.format(**row) for index, row in route_cities.iterrows()]

locations = route_cities[["Lat", "Lng"]]
max_temp = route_cities["Max Temp"]
fig = gmaps.figure(center=center, zoom_level=5)

directions_layer = gmaps.directions_layer(start, end, show_markers=True, show_route=True, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')

fig.add_layer(directions_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [89]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = route_cities.loc[[97,113,98,61]]
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
97,399,Big Spring,US,90.23,few clouds,32.2504,-101.4787,Hampton Inn & Suites Big Spring
113,439,Hattiesburg,US,85.44,clear sky,31.3271,-89.2903,Quality Inn & Suites
98,400,Rincon,US,82.83,few clouds,32.2960,-81.2354,Days Inn Rincon
61,285,Havelock,US,83.01,clear sky,34.8791,-76.9013,Sherwood Motel

In [94]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=center, zoom_level=5)

#10c. Add directions layer.
directions_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')

fig.add_layer(directions_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
# 11a. Add a marker layer for each city to the map.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]

fig = gmaps.figure(center=center, zoom_level=5)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)


fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))